.ResizeContainer {
    position: relative;
    font-size: inherit;
    margin-top: -1px;
    margin-bottom: 9px;
}

.ResizeContainer .Sizer {
    word-break: break-all;
    white-space: pre-wrap; 
    margin: 0px;
    width: 100%;
    padding: 0px 2px;

    color: rgba(0, 0, 0, 0);
    font-family: inherit;
    font-size: inherit;
}

.ResizeContainer .MaxHeight {
    max-height: 5.8rem;
    overflow-y: hidden;
}

.ResizeContainer textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    width: calc(100% - 8px);
    height: 100%;
    padding: 2px 4px;

    resize: none;
    font-family: inherit;
    font-size: inherit;
}