.MainContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Home {
    padding: 8px;
}

.Home button {
    margin: 8px;
    font-size: 2rem;
}

.Room {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.Map {
    height: 100%;
    width: auto;
    flex: 7 7 auto;
    margin: 0px;
}

.Sidebar {
    position: relative;
    flex: 3 3 auto;
    width: auto;
    height: 100%;
    overflow: scroll;

    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 0px 3px black;
}

.Sidebar > .Container {
    position: absolute;
    width: 100%;
    height: max(100%, 36rem);

    margin: 0px;
    padding: 0px;
}


.Sidebar .Name {
    position: absolute;
    padding: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

.Sidebar .Name h1 {
    margin: 8px;
    font-size: 2.7rem;
}

.Sidebar .Name button {
    margin: 8px;
    font-size: 1.4rem;
}

.Settings {
    color: rgb(31, 31, 31);
    margin: 0px;
    padding: 0px;

    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
}

.Settings .SettingsArea {
    background-color: rgb(242, 242, 242);
    margin: 40px;
    padding: 16px;
    width: calc(100% - 112px);
    height: calc(100% - 112px);
    border-radius: 12px;
}

.Settings .SettingsArea textarea {
    resize: none;
    margin: 8px;
    font-size: 1.8rem;
    height: 2.4rem;
    width: min(calc(100% - 32px), 26rem);
    padding: 4px 6px;
}

.Settings .SettingsArea .Header {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.Settings .SettingsArea .Header h1 {
    margin: 0px;
    font-size: 2.8rem;
    display: inline-block;
    flex: 1;
}

.Settings .SettingsArea .Header svg {
    font-size: 2.8rem;
    margin: auto 8px;
    color: rgb(31, 31, 31);
}

.Settings .SettingsArea .Header svg:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 10px;
    margin-top: -15px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: min(calc(100vw - 21px), 400px);
}
  
.controls:focus {
    border-color: #4d90fe;
}

@media (max-aspect-ratio: 1.1) {
    .Room {
        flex-direction: column;
    }

    .Map {
        width: 100vw;
        height: auto;
    }

    .Sidebar {
        width: 100vw;
        height: auto;
        min-height: 13rem;
    }

    .Sidebar > .Container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 40rem) {
    .Sidebar {
        flex: 4 4 auto;
    }

    .Sidebar .Container{
        display: block;
    }
}