.Home {
    padding: 10px;
}

.Room {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.Map {
    height: 100vh;
    width: auto;
    flex: 7 7 auto;
    margin: 0px;
}

.Sidebar {
    position: relative;
    flex: 3 3 auto;
    width: auto;
    height: 100vh;
    overflow: scroll;

    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0px 0px 3px black;
}

.Sidebar > .Container {
    position: absolute;
    width: 100%;
    height: max(100%, 36rem);

    margin: 0px;
    padding: 0px;
}


.Sidebar .Name {
    position: absolute;
    padding: 8px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}

.Sidebar .Name h1 {
    margin: 8px;
    font-size: 2.7rem;
}

.Sidebar .Name button {
    margin: 8px;
    font-size: 1.4rem;
}

@media (max-aspect-ratio: 1.1) {
    .Room {
        flex-direction: column;
    }

    .Map {
        width: 100vw;
        height: auto;
    }

    .Sidebar {
        width: 100vw;
        height: auto;
        min-height: 13rem;
    }

    .Sidebar > .Container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 40rem) {
    .Sidebar {
        flex: 4 4 auto;
    }

    .Sidebar .Container{
        display: block;
    }
}