.MainHeader {
    height: 50px;
    flex-shrink: 0;
    background-color: rgb(57, 35, 92);
    z-index: 1;
    color: rgb(242, 242, 242);

    display: flex;
    flex-direction: row;
    padding: 0px;
}

.MainHeader > * {
    margin: auto 8px;
}

.MainHeader h1 {
    font-size: 2rem;
    display: inline-block;
    flex: 1;
}

.MainHeader h1:hover {
    cursor: pointer;
    color: rgb(225, 225, 225);
}

.MainHeader svg {
    font-size: 2rem;
}

.MainHeader svg:hover {
    cursor: pointer;
    color: rgb(225, 225, 225);
}